<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Tony/View/Styles/scratch_page.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="date">
        <h1 class="day">04</h1>
        <h1 class="month">janvier</h1>
      </div>

      <div class="container scratch" id="js-container">
        <canvas class="canvas" id="js-canvas" width="300" height="300"></canvas>
        <div class="scratch_container">
          <h2>
            Prépare <br />
            ta valise
          </h2>
        </div>
      </div>

      <div class="gif">
        <img class="img_gif" src="./SOURCES/000.gif" alt="" />
      </div>
    </div>

    <script src="View/Scripts/scratch.js"></script>
  </body>
</html>
