<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Tony/View/Styles/scratch_page.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="date">
        <h1 class="day">09</h1>
        <h1 class="month">janvier</h1>
      </div>

      <div class="container scratch" id="js-container">
        <canvas class="canvas" id="js-canvas" width="300" height="300"></canvas>
        <div class="scratch_container">
          <img
            src="/SOURCES/414821523_730748462315768_1139060771158742450_n.jpg"
            alt="parapente"
          />
        </div>
      </div>
      <img class="arrow" src="/SOURCES/noun-arrow-1000509.png" alt="arrow" />
      <h2 class="programme">Joyeux anniversaire !</h2>
    </div>

    <script src="../Scripts/scratch.js"></script>
  </body>
</html>
