<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="View/Styles/scratch_page.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="date">
        <h1 class="day">06</h1>
        <h1 class="month">janvier</h1>
      </div>

      <div class="container scratch" id="js-container">
        <canvas class="canvas" id="js-canvas" width="300" height="300"></canvas>
        <div class="scratch_container">
          <img
            src="/SOURCES/403641098_1396019917710682_6961872503519824228_n.jpg"
            alt="Grand bornand"/>
        </div>
        <div class="gif">
            <img class="img_gif" src="/SOURCES/000.gif" alt="" />
          </div>
      </div>

    <script src="../Scripts/scratch.js"></script>
  </body>
</html>
